### Import Data and Library

In [18]:
import pandas as pd
import numpy as np

## for visualisation 
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
ipl_data = pd.read_csv('ipl_2022_dataset.csv')
ipl_data.head(2)

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans

### Read Data and make Necessary Changes

In [20]:
ipl_data.describe()

       Unnamed: 0  COST IN ₹ (CR.)  Cost IN $ (000)
count  633.000000       237.000000       237.000000
mean   316.000000         3.695781       480.451477
std    182.875641         4.238092       550.951945
min      0.000000         0.200000        26.000000
25%    158.000000         0.400000        52.000000
50%    316.000000         1.900000       247.000000
75%    474.000000         6.500000       845.000000
max    632.000000        17.000000      2210.000000

In [21]:
ipl_data.isnull().sum()

Unnamed: 0           0
Player               0
Base Price           0
TYPE                 0
COST IN ₹ (CR.)    396
Cost IN $ (000)    396
2021 Squad         434
Team                 0
dtype: int64

In [22]:
ipl_data.duplicated().sum()

0

In [23]:
ipl_data.shape

(633, 8)

In [24]:
ipl_data.dtypes

Unnamed: 0           int64
Player              object
Base Price          object
TYPE                object
COST IN ₹ (CR.)    float64
Cost IN $ (000)    float64
2021 Squad          object
Team                object
dtype: object

In [25]:
ipl_data = ipl_data.rename({'Base Price':'Base_Price','COST IN ₹ (CR.)':'COST_IN_CR','Cost IN $ (000)':'Cost_IN_USD','2021 Squad':'2021_Squad'}, axis= 1)

In [26]:
ipl_data.head(5)

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans

### Fiend Top 10 most expensive Players (Batter, Bowler,All-Rounder & Wicketkeeper)

In [27]:
### Top 10 Expensive Players
Top_10 = ipl_data.nlargest(10,['COST_IN_CR'])
Top_10

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
121,121,KL Rahul,Draft Pick,WICKETKEEPER,17.00,2210.0,PBKS,Lucknow Super Giants
22,22,Ravindra Jadeja,Retained,ALL-ROUNDER,16.00,2080.0,CSK,Chennai Super Kings
47,47,Rishabh Pant,Retained,WICKETKEEPER,16.00,2080.0,DC,Delhi Capitals
143,143,Rohit Sharma,Retained,BATTER,16.00,2080.0,MI,Mumbai Indians
144,144,Ishan Kishan,2 Cr,WICKETKEEPER,15.25,1982.5,MI,Mumbai Indians
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.00,1950.0,MI,Gujarat Titans
168,168,Virat Kohli,Retained,BATTER,15.00,1950.0,RCB,Royal Challengers Bangalore
23,23,Deepak Chahar,2 Cr,BOWLER,14.00,1820.0,CSK,Chennai Super Kings
190,190,Sanju Samson,Retained,WICKETKEEPER,14.00,1820.0,RR,Rajasthan Royals

In [28]:
### Top 10 Expensive Batter
Batter = ipl_data.loc[ipl_data['TYPE']== 'BATTER']
Batter

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans
7,7,David Miller,1 Cr,BATTER,3.0,390.0,RR,Gujarat Titans
9,9,Abhinav Sadarangani,20 Lakh,BATTER,2.6,338.0,NaN,Gujarat Titans
12,12,Jason Roy,2 Cr,BATTER,2.0,260.0,SRH,Gujarat Titans
27,27,Ruturaj Gaikwad,Retained,BATTER,6.0,780.0,CSK,Chennai Super Kings
...,...,...,...,...,...,...,...,...
483,483,Henan Malik,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
484,484,Pukhraj Mann,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
485,485,Shashwat Rawat,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
486,486,Jake Weatherald,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold

In [29]:
Batter_Top10 = Batter.nlargest(10,'COST_IN_CR')
Batter_Top10

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
143,143,Rohit Sharma,Retained,BATTER,16.00,2080.0,MI,Mumbai Indians
168,168,Virat Kohli,Retained,BATTER,15.00,1950.0,RCB,Royal Challengers Bangalore
214,214,Kane Williamson,Retained,BATTER,14.00,1820.0,SRH,Sunrisers Hyderabad
71,71,Shreyas Iyer,2 Cr,BATTER,12.25,1592.5,DC,Kolkata Knight Riders
96,96,Mayank Agarwal,Retained,BATTER,12.00,1560.0,PBKS,Punjab Kings
193,193,Shimron Hetmyer,1.5 Cr,BATTER,8.50,1105.0,DC,Rajasthan Royals
217,217,Rahul Tripathi,40 Lakh,BATTER,8.50,1105.0,KKR,Sunrisers Hyderabad
100,100,Shikhar Dhawan,2 Cr,BATTER,8.25,1072.5,DC,Punjab Kings
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.0,KKR,Gujarat Titans
148,148,Suryakumar Yadav,Retained,BATTER,8.00,1040.0,MI,Mumbai Indians

In [30]:
### Top 10 Expensive Bowler
Bowler = ipl_data.loc[ipl_data['TYPE']== 'BOWLER']
Bowler

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.00,1950.0,SRH,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.00,1300.0,KKR,Gujarat Titans
5,5,Mohammad Shami,2 Cr,BOWLER,6.25,812.5,PBKS,Gujarat Titans
6,6,Yash Dayal,20 Lakh,BOWLER,3.20,416.0,NaN,Gujarat Titans
8,8,R. Sai Kishore,20 Lakh,BOWLER,3.00,390.0,CSK,Gujarat Titans
...,...,...,...,...,...,...,...,...
561,561,Liam Hatcher,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
627,627,Mihir Hirwani,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold

In [31]:
Bowler_Top10 = Bowler.nlargest(10,'COST_IN_CR')
Batter_Top10

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
143,143,Rohit Sharma,Retained,BATTER,16.00,2080.0,MI,Mumbai Indians
168,168,Virat Kohli,Retained,BATTER,15.00,1950.0,RCB,Royal Challengers Bangalore
214,214,Kane Williamson,Retained,BATTER,14.00,1820.0,SRH,Sunrisers Hyderabad
71,71,Shreyas Iyer,2 Cr,BATTER,12.25,1592.5,DC,Kolkata Knight Riders
96,96,Mayank Agarwal,Retained,BATTER,12.00,1560.0,PBKS,Punjab Kings
193,193,Shimron Hetmyer,1.5 Cr,BATTER,8.50,1105.0,DC,Rajasthan Royals
217,217,Rahul Tripathi,40 Lakh,BATTER,8.50,1105.0,KKR,Sunrisers Hyderabad
100,100,Shikhar Dhawan,2 Cr,BATTER,8.25,1072.5,DC,Punjab Kings
4,4,Shubman Gill,Draft Pick,BATTER,8.00,1040.0,KKR,Gujarat Titans
148,148,Suryakumar Yadav,Retained,BATTER,8.00,1040.0,MI,Mumbai Indians

In [32]:
### Top 10 Expensive Wicketkeeper
Wicketkeeper = ipl_data.loc[ipl_data['TYPE']== 'WICKETKEEPER']
Wicketkeeper

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
10,10,Matthew Wade,2 Cr,WICKETKEEPER,2.40,312.0,NaN,Gujarat Titans
13,13,Wriddhiman Saha,1 Cr,WICKETKEEPER,1.90,247.0,SRH,Gujarat Titans
24,24,MS Dhoni,Retained,WICKETKEEPER,12.00,1560.0,CSK,Chennai Super Kings
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,6.75,877.5,CSK,Chennai Super Kings
41,41,N. Jagadeesan,20 Lakh,WICKETKEEPER,0.20,26.0,CSK,Chennai Super Kings
...,...,...,...,...,...,...,...,...
439,439,Fazil Makaya,20 Lakh,WICKETKEEPER,NaN,NaN,NaN,Unsold
440,440,Ryan Rickelton,20 Lakh,WICKETKEEPER,NaN,NaN,NaN,Unsold
441,441,Sandeep Kumar Tomar,20 Lakh,WICKETKEEPER,NaN,NaN,NaN,Unsold
442,442,Siddhesh Wath,20 Lakh,WICKETKEEPER,NaN,NaN,NaN,Unsold
626,626,Hardik Tamore,20 Lakh,WICKETKEEPER,NaN,NaN,NaN,Unsold

In [33]:
top10_wicketkeeper = Wicketkeeper.nlargest(10,'COST_IN_CR')
top10_wicketkeeper

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
121,121,KL Rahul,Draft Pick,WICKETKEEPER,17.00,2210.0,PBKS,Lucknow Super Giants
47,47,Rishabh Pant,Retained,WICKETKEEPER,16.00,2080.0,DC,Delhi Capitals
144,144,Ishan Kishan,2 Cr,WICKETKEEPER,15.25,1982.5,MI,Mumbai Indians
190,190,Sanju Samson,Retained,WICKETKEEPER,14.00,1820.0,RR,Rajasthan Royals
24,24,MS Dhoni,Retained,WICKETKEEPER,12.00,1560.0,CSK,Chennai Super Kings
215,215,Nicholas Pooran,1.5 Cr,WICKETKEEPER,10.75,1397.5,PBKS,Sunrisers Hyderabad
191,191,Jos Buttler,Retained,WICKETKEEPER,10.00,1300.0,RR,Rajasthan Royals
26,26,Ambati Rayudu,2 Cr,WICKETKEEPER,6.75,877.5,CSK,Chennai Super Kings
101,101,Jonny Bairstow,1.5 Cr,WICKETKEEPER,6.75,877.5,SRH,Punjab Kings
127,127,Quinton De Kock,2 Cr,WICKETKEEPER,6.75,877.5,MI,Lucknow Super Giants

### Fiend last yers Top 5 teams this years expenses

In [37]:
ipl_data.head(5)

,Unnamed: 0,Player,Base_Price,TYPE,COST_IN_CR,Cost_IN_USD,2021_Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans

In [38]:
ipl_data.Team.unique()

array(['Gujarat Titans', 'Chennai Super Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Punjab Kings', 'Lucknow Super Giants',
       'Mumbai Indians', 'Royal Challengers Bangalore',
       'Rajasthan Royals', 'Sunrisers Hyderabad', 'Unsold'], dtype=object)